<!DOCTYPE html> 
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoMatth</title>
</head>
<body>
    <div class="title-bar">
        <button id="toggle-sidebar" class="toggle-sidebar">☰ Menu</button>
        <h1><a href="https://cryptomatth.github.io/it/index.html" style="color: inherit; text-decoration: none;">CryptoMatth</a></h1>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Cerca...">
            <button id="search-button">Cerca</button>
        </div>
    </div>
</body>
</html>
