<nav>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/pagina2.html">Seconda Pagina</a></li>
        <li>
            <a href="#" class="expandable" onclick="toggleSubmenu(event)">Cartella</a>
            <ul class="submenu">
                <li><a href="/pages/pagina3.html">Pagina 3</a></li>
                <li><a href="/pages/pagina4.html">Pagina 4</a></li>
                <!-- Aggiungi altre sottopagine -->
            </ul>
        </li>
        <li><a href="#">Latex con MathJax</a></li>
    </ul>
</nav>
