<nav>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/pagina2.html">Seconda Pagina</a></li>
        <li>
            <!-- Voce espandibile -->
            <a href="#" class="expandable" onclick="toggleSubmenu(event)">
                <span class="arrow">&gt;</span> Cartella
            </a>
            <ul class="submenu">
                <li><a href="/pages/pagina3.html">Foglio 3</a></li>
                <li><a href="/pages/pagina4.html">Foglio 4</a></li>
            </ul>
        </li>
        <li><a href="#">Latex con MathJax</a></li>
    </ul>
</nav>
