/* Generale */
body {
    background-color: #ffffff; /* Sfondo bianco */
    color: #0d1117; /* Testo scuro per leggibilità */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Barra in alto */
#top-bar {
    background-color: #005f73; /* Azzurro/blu ispirato alla crittografia */
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#top-bar h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #ffffff;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-form input[type="text"] {
    padding: 5px 10px;
    font-size: 1rem;
    border: 2px solid #005f73;
    border-radius: 5px;
    margin-right: 10px;
}

#search-form button {
    background-color: #0a9396;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-form button:hover {
    background-color: #94d2bd;
}

/* Layout */
#sidebar-container {
    width: 250px;
    background-color: #005f73; /* Colore azzurro/blu per la barra laterale */
    padding: 20px;
    position: fixed;
    top: 50px; /* Sposta sotto la barra in alto */
    left: 0;
    height: calc(100% - 50px); /* Calcola l'altezza sottraendo la barra in alto */
    z-index: 1000;
    color: #ffffff;
}

/* Contenuto principale */
#main-content {
    margin-left: 270px; /* Spazio per la barra laterale */
    padding: 40px;
    margin-top: 80px; /* Spazio per la barra in alto */
    background-color: #ffffff;
    border-radius: 10px;
}

/* Titoli */
h1 {
    font-size: 2.5rem;
    color: #005f73;
    text-align: center;
}

/* Sottomenu */
nav ul li .submenu {
    display: none;
}

nav ul li.open .submenu {
    display: block;
}

/* Effetti hover */
a {
    color: #0a9396;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #005f73;
}
