<div class="sidebar">
    <nav>
        <ul>
            <li><a href="https://cryptomatth.github.io/it/index">Home</a></li>
            <li>
                <span class="dropdown-toggle"><span class="arrow">></span> Crittografia</span>
                <ul class="dropdown-menu">
                    <li><a href="https://cryptomatth.github.io/it/crittografia/main_crittografia">Introduzione</a></li>
                    <li><a href="https://cryptomatth.github.io/it/crittografia/cifrario_di_cesare">Cifrario di Cesare</a></li>
                </ul>
            </li>
            <li>
                <span class="dropdown-toggle"><span class="arrow">></span> Matematica</span>
                <ul class="dropdown-menu">
                    <li><a href="https://cryptomatth.github.io/it/matematica/main_crittografia">Introduzione</a></li>
                    <li><a href="https://cryptomatth.github.io/it/matematica/analisi_i">Analisi I</a></li>
                </ul>
            </li>
            <li><a href="about.html">Chi Siamo</a></li>
            <li><a href="articles.html">Articoli</a></li>
            <li><a href="contact.html">Contatti</a></li>
        </ul>
    </nav>
</div>
