<div class="sidebar">
    <nav>
        <ul>
            <li><a href="https://cryptomatth.github.io/en/index">Home</a></li>
            <li>
                <span class="dropdown-toggle"><span class="arrow">></span> Cryptography</span>
                <ul class="dropdown-menu">
                    <li><a href="https://cryptomatth.github.io/en/cryptography/main_cryptography">Introduction</a></li>
                    <li><a href="https://cryptomatth.github.io/en/cryptography/caesar_cipher">Caesar cipher</a></li>
                </ul>
            </li>
            <li>
                <span class="dropdown-toggle"><span class="arrow">></span> Mathematics</span>
                <ul class="dropdown-menu">
                    <li><a href="https://cryptomatth.github.io/en/mathematics/main_mathematics">Introduction</a></li>
                    <li><a href="https://cryptomatth.github.io/en/mathematics/analysis_i">Analysis I</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contacts</a></li>
        </ul>
    </nav>
</div>
